*{margin: 0px; padding: 0px; font-family: arial; box-sizing: border-box;}
#wrap{
	width: 100%;
	min-height: 1000px;
	background-image: linear-gradient(#7f6f50, #ffffff);
	background-image: -moz-linear-gradient(#7f6f50, #ffffff);
	background-image: -o-linear-gradient(#7f6f50, #ffffff);
	background-image: -webkit-linear-gradient(#7f6f50, #ffffff);
}
#main{
	width: 960px;
	min-height: 900px;
	background: #FC6B6B;
	margin: auto;
}
header{
	width: 100%;
	height: 318px;
	background: #999898;
	position: relative;
	z-index: 2;
}
#slide{
	width: 730px;
	height: 300px;
	background: black;
	float: left;
}

nav{
	width: 230px;
	height: 300px;
	background: #bd6516;
	float: left;
}

section{
	width: 100%;
	height: 245px;
	/*background: blue;*/
	background: url("imgs/heading.png");
	position: relative;
	top: -90px;
	padding-top: 90px;
	z-index: 10;
	
	
	
	
}
#heading{
	width: 100%;
	height: 180px;
	background: #e1c78c;
}

.heading{
	width: 220px;
	height: 155px;
	background: #e8d3a5;
	float: left;
	margin: 0px 10px;
}

.heading h2{
	color: #bd6516;
	font-size: 20px;
	font-family: arial;
	padding: 0px 20px;
}
.heading p{
	padding: 20px;
	font-size: 12px;
}
#content{
	width: 100%;
	height: 500px;
	background-color: #5BD64B;
	position: relative;
	top:-50px;
}

footer{
	width: 100%;
	height: 318px;
	background: url("imgs/sky-line.png") center no-repeat;
	position: fixed;
	bottom: 0px;

}

